
body::before {
    content: "";
    background-attachment: fixed;
    position: fixed;
    background: #040404 url("bg.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -1;
}



main{
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 35px;
    line-height: 1;
    font-size: 25px;
    line-height: 10px;

}

ul{
    display: flex;
    padding: 5px;
    font-size: 20px;
    list-style: none;
    line-height: 0;
    gap: 25px;

}

